<!DOCTYPE html>
<html>

<head>
    <title>LODMusic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-responsive.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/vertical-rhythm.min.css">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/main.css"> </head>

<body class="appear-animate">
<!-- Page Loader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<!-- End Page Loader -->
<!-- Page Wrap -->
<div class="page" id="top">
    <!-- Navigation panel -->
    <nav class="main-nav js-stick">
        <%- include( 'blocks/menu.ejs', {theme: "dark"}) %>
    </nav>
    <!-- End Navigation panel -->
    <!-- Head Section -->
    <section class="small-section bg-dark">
        <div class="relative container align-left">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Add a resource</h1>
                    <div class="hs-line-4 font-alt black"> Lorem ipsum dolor sit amet consectetur </div>
                </div>
                <div class="col-md-4 mt-30">
                    <div class="mod-breadcrumbs font-alt align-right"> <a href="#">Home</a>&nbsp;/&nbsp;<span>Add a resource</span> </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Head Section -->
    <!-- Section -->
    <section class="page-section">
        <div class="container relative">
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                lorem
            </h2>
            <!-- Row -->
            <div class="row">
                <!-- Col -->
                <div class="col-sm-4 mb-40">
                    <!-- Form -->
                    <form method="post" action="#" id="form" role="form" class="form">
                        <div class="mb-20 mb-md-10">
                            <!-- Name -->
                            <input type="text" name="name" id="name" class="input-md form-control" placeholder="Name" maxlength="100"> </div>
                        <div class="mb-20 mb-md-10">
                            <!-- Email -->
                            <input type="email" name="email" id="email" class="input-md form-control" placeholder="Email" maxlength="100"> </div>
                        <div class="mb-20 mb-md-10">
                            <!-- Password -->
                            <input type="password" name="password" id="password" class="input-md form-control" placeholder="Password" maxlength="100"> </div>
                        <div class="mb-20 mb-md-10">
                            <textarea name="text" id="text" class="input-md form-control" rows="8" placeholder="Text" maxlength="400"></textarea>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
                <!-- End Col -->
                <!-- Col -->
                <div class="col-sm-4 mb-40">
                    <!-- Form -->
                    <form method="post" action="#" id="form-1" role="form" class="form">
                        <div class="mb-20 mb-md-10">
                            <select class="input-md form-control">
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                            </select>
                        </div>
                        <div class="mb-20 mb-md-10">
                            <select multiple class="form-control">
                                <option>One</option>
                                <option>Two</option>
                                <option>Three</option>
                                <option>Four</option>
                                <option>Five</option>
                            </select>
                        </div>
                        <div class="mb-20 mb-md-10">
                            <!-- Date-->
                            <input type="date" name="date" id="date" class="input-md form-control"> </div>
                        <div class="mb-20 mb-md-10">
                            <!-- Number -->
                            <input type="number" name="number" id="number" class="input-md form-control" placeholder="0" max="100"> </div>
                    </form>
                    <!-- End Form -->
                </div>
                <!-- End Col -->
                <!-- Col -->
                <div class="col-sm-4 mb-40">
                    <!-- Form -->
                    <form method="post" action="#" id="form-2" role="form" class="form">
                        <div class="mb-20 mb-md-10">
                            <input class="input-md form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled> </div>
                        <div class="mb-20 mb-md-10">
                            <label for="exampleInputFile"> File input </label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block"> Example block-level help text here. </p>
                        </div>
                        <div class="mb-20 mb-md-10">
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox1" value="option1">1 </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox2" value="option2">2 </label>
                            <label class="checkbox-inline">
                                <input type="checkbox" id="inlineCheckbox3" value="option3">3 </label>
                        </div>
                        <div class="mb-20 mb-md-10">
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">1 </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">2 </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">3 </label>
                        </div>
                    </form>
                    <!-- End Form -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
    </section>
    <!-- End Section -->
    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->
    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->
    <%- include blocks/footer %>
</div>
<!-- End Page Wrap -->
<%- include blocks/scripts %>
</body>

</html>