<!DOCTYPE html>
<html>

<head>
    <title>LODMusic</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta charset="utf-8">
    <meta name="author" content="">
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- Favicons -->
    <link rel="shortcut icon" href="favicon.ico">
    <!-- CSS -->
    <%- include blocks/styles %>
</head>
<body class="appear-animate">
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>
<div class="page" id="top">
    <section class="home-section bg-dark-alfa-30 parallax-1" data-background="images/full-width-images/section-bg-1.jpg"
             id="home">
        <div class="js-height-full container">
            <div class="home-content">
                <div class="home-text">
                    <h1 class="hs-line-1 font-alt mb-80 mb-xs-30 mt-70 mt-sm-0">
                        <img src="images/logo-white-big.png"/>
                    </h1>
                    <div class="hs-line-6"> Linked Open Data Music Knowledge Base</div>
                </div>
            </div>
            <div class="local-scroll"><a href="#about" class="scroll-down"><i
                            class="fa fa-angle-down scroll-down-icon"></i></a></div>
        </div>
    </section>
    <nav class="main-nav dark transparent stick-fixed">
        <%- include( 'blocks/menu.ejs', {theme: "white"}) %>
    </nav>
    <section class="page-section" id="about">
        <div class="container relative">
            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                About the Project
            </h2>
            <div class="section-text">
                <div class="row">
                    <div class="col-md-6 col-sm-6 mb-sm-50 mb-xs-30"> LODMusic is a project born for the Semantic Web course held at the University of Salerno.
                        The purpose of this project is to create a web application to manage a music-based knowledge base.
                        The main feature of the project is the use of linked resources.
                    </div>
                    <div class="col-md-6 col-sm-6 mb-sm-50 mb-xs-30">
                        Thanks to LODMusic, you can get information about your favorite artists or bands, music albums of all ages and songs, regardless of your favorite music genre.
                        You can also extend the knowledge base by entering new resources.
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="mt-0 mb-0 "/>
    <section id="search" class="page-section pt-0 pb-0 banner-section bg-dark parallax-5"
             data-background="images/full-width-images/section-bg-2.jpg">
        <div class="container relative">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                        <div class="banner-content">
                            <h3 class="banner-heading font-alt">Search</h3>
                            <div class="banner-decription">
                                <form method="get" id="form" role="form" class="form">
                                    <div class="mb-20 mb-md-10">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-3">
                                                <select id="resourceType" class="input-md form-control"
                                                        name="resourceType">
                                                    <option value="band">Band</option>
                                                    <option value="artist">Artist</option>
                                                    <option value="album">Album</option>
                                                    <option value="albumTrack">Track</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 col-md-9">
                                                <input type="text" name="name" id="autocomplete"
                                                       class="input-md form-control"
                                                       placeholder="Name" maxlength="100">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="local-scroll">
                                        <input type="hidden" id="uri" name="uri"/>
                                        <button type="submit" formaction="resource" disabled class="submit-res btn btn-mod btn-w btn-large">Link it!</button>
                                        <button type="submit" formaction="graph" disabled class="submit-graph btn btn-mod btn-w btn-large ">Graph it!</button>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section">
        <div class="container relative">
            <div class="count-wrapper font-alt">
                <div class="row">
                    <h3 class=" font-alt text-center">Our numbers</h3>
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number">
                            5306
                        </div>
                        <div class="text-center font-alt">
                            <div class="alt-features-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                            <span class="count-title">Bands</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number">
                            6973
                        </div>
                        <div class="text-center font-alt">
                            <div class="alt-features-icon"><i class="fa fa-microphone" aria-hidden="true"></i></div>
                            <span class="count-title">Artists</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number">
                            29851
                        </div>
                        <div class="text-center font-alt">
                            <div class="alt-features-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                            <span class="count-title">Albums</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div class="count-number">
                            200800
                        </div>
                        <div class="text-center font-alt">
                            <div class="alt-features-icon"><i class="fa fa-caret-square-o-right" aria-hidden="true"></i>
                            </div>
                            <span class="count-title">Tracks</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <hr class="mt-0 mb-0"/>
    <section class="small-section bg-dark" data-background="images/full-width-images/baker.jpg">
        <div class="container relative mb-140">
        </div>
    </section>
    <hr class="mt-0 mb-0 "/>
    <section class="page-section" id="contact">
        <div class="container relative">
            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Contact Us
            </h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon"><i class="fa fa-envelope"></i></div>
                                <div class="ci-title font-alt"> Antonio Altamura</div>
                                <div class="ci-text"><a href="mailto:antonioaltamura7@gmail.com">antonioaltamura7@gmail.com</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon"><i class="fa fa-envelope"></i></div>
                                <div class="ci-title font-alt"> Mario Villani</div>
                                <div class="ci-text"><a href="mailto:villani.mario90@gmail.com">villani.mario90@gmail.com</a></div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon"><i class="fa fa-envelope"></i></div>
                                <div class="ci-title font-alt"> Alessandra Zullo</div>
                                <div class="ci-text"><a href="mailto:alessandra.zullo1@gmail.com">alessandra.zullo1@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include blocks/footer %>
</div>
<%- include blocks/scripts %>
<script>
	$(function () {

		$("#autocomplete").autocomplete({
			focus: function (event, ui) {
				$("#autocomplete").val(ui.item.name);
				return false;
			},
			source: function (request, response) {
				var resourceType = $('#resourceType').val();
				$.ajax({
					url: "/api/autocomplete/" + resourceType,
					dataType: "json",
					data: {
						name: request.term
					},
					success: function (data) {
						response(data.slice(0, 20));
					}
				});
			},
			select: function (event, ui) {
				$('#uri').val(ui.item.uri);

				$('.submit-res').removeAttr('disabled');

				var type = $('#resourceType').val()
				if(type === "band" || type === "artist")
				    $('.submit-graph').removeAttr('disabled');
				return false;
			}
		}).autocomplete("instance")._renderItem = function (ul, item) {
			return $("<li>")
				.append(item.name)
				.appendTo(ul);
		};
	});
</script>
</body>
</html>