<footer class="page-section bg-gray-lighter footer pb-60">
    <div class="container">
        <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.5s">
            <a href="#top"><img src="images/logo-footer.png" width="78" height="36" alt="" /></a>
        </div>
        <div class="footer-text">
            <div class="footer-copy font-alt">
               &copy;2017
            </div>
            <div class="footer-made">
                A Semantic Web Project
            </div>
        </div>
    </div>
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
    </div>
</footer>
