<div class="full-wrapper relative clearfix">
    <div class="nav-logo-wrap local-scroll">
        <a href="/" class="logo">
            <img src="images/logo-<%= theme %>.png" alt="" />
        </a>
    </div>
    <div class="mobile-nav">
        <i class="fa fa-bars"></i>
    </div>
<div class="inner-nav desktop-nav">
    <ul class="clearlist local-scroll">
        <li>
            <a href="/#top" class="mn-has-sub active"><i class="fa fa-home"></i> Home </a>
        </li>
        <li>
            <a href="/#about" class="mn-has-sub">The Project</a> <!--  <i class="fa fa-angle-down"></i> -->
        </li>
        <li>
            <a href="/#search" class="mn-has-sub"><i class="fa fa-search"></i> Search</a>
        </li>
        <li>
            <a class="mn-has-sub">Expand Knowledge Base <i class="fa fa-angle-down"></i></a>
            <ul class="mn-sub to-left">
                <li>
                    <a href="addArtist">Add Artist</a>
                </li>
                <li>
                    <a href="addBand">Add Band</a>
                </li>
            </ul>

        </li>
    </ul>
</div>
</div>