<!-- Main Menu -->
<div class="inner-nav desktop-nav">
    <ul class="clearlist local-scroll">
        <li>
            <a href="/#top" class="mn-has-sub active"><i class="fa fa-home"></i> Home </a>
        </li>
        <li>
            <a href="/#about" class="mn-has-sub">The Project <i class="fa fa-angle-down"></i></a>

            <!-- Sub -->
            <ul class="mn-sub to-left">

                <li>
                    <a href="item1.html">item1</a>
                </li>
                <li>
                    <a href="item1.html">item2</a>
                </li>

            </ul>

        </li>

        <li>
            <a href="#search" class="mn-has-sub"><i class="fa fa-search"></i> Search</a>
        </li>
    </ul>
</div>
<!-- End Main Menu -->